<section id="body-left" class="system-block-body-left" :data-min="left.is_body_left_min">
    <header onclick="location.href='/'" :cursor="pointer">
        <img src="https://cdn.jsdelivr.net/npm/@pardnchiu/adminui@latest/dist/image/logo.svg" alt="">
        <strong>{{ title }}</strong>
    </header>
    <button class="mobile" @click="body_left_show">
        <i class="fa-solid fa-chevron-left"></i>
        <span>收合列表</span>
    </button>
    <!--  -->
    <span>網站內容</span>
    <!--  -->
    <div>
        <p @click="tab_show">
            <i class="fa-solid fa-newspaper"></i>
            <span>資料管理</span>
            <i class="fa-solid fa-chevron-right"></i>
        </p>
        <section data-row="3">
            <a href="/page/demo-data-list.html" title="前往資料列表" :data-selected="left.is_database_list">
                <i class="fa-solid fa-table-list"></i>
                <span>資料列表</span>
            </a>
            <a href="/page/demo-data-editor.html" title="前往資料新增/修改" :data-selected="left.is_database_edit">
                <i class="fa-solid fa-plus-circle"></i>
                <span>資料修改</span>
            </a>
            <a href="/page/demo-article-editor.html" title="前往文章撰寫" :data-selected="left.is_demo_article_editor">
                <i class="fa-solid fa-pen"></i>
                <span>文章撰寫</span>
            </a>
        </section>
    </div>
    <!--  -->
    <div>
        <p @click="tab_show">
            <i class="fa-solid fa-folder-open"></i>
            <span>檔案管理</span>
            <i class="fa-solid fa-chevron-right"></i>
        </p>
        <section data-row="5">
            <a href="/page/demo-folder.html?path=/demo/app/storage/demo" title="前往檔案管理" :data-selected="left.is_demo_folder">
                <i class="fa-solid fa-folder-open"></i>
                <span>檔案管理</span>
            </a>
            <a href="/page/demo-media.html?type=video&path=/demo/app/storage/demo/video.mp4" title="前往媒體展示" :data-selected="left.is_demo_media">
                <i class="fa-solid fa-photo-film"></i>
                <span>媒體展示</span>
            </a>
            <a href="/page/demo-md-viewer.html?path=/demo/app/storage/demo/demo.md" title="前往 MD 檢視器" :data-selected="left.is_demo_md_viewer">
                <i class="fa-brands fa-markdown"></i>
                <span>Markdown 文檔</span>
            </a>
            <a href="/page/demo-text.html?path=/demo/app/storage/demo/demo.txt" title="前往文檔編輯" :data-selected="left.is_demo_text">
                <i class="fa-solid fa-file"></i>
                <span>文檔編輯</span>
            </a>
            <a href="/page/demo-json.html?path=/demo/app/storage/demo/demo.json" title="前往文檔編輯" :data-selected="left.is_demo_json">
                <i class="fa-solid fa-layer-group"></i>
                <span>JSON 編輯</span>
            </a>
        </section>
    </div>
    <!--  -->
    <span>會員內容</span>
    <!--  -->
    <div>
        <p @click="tab_show">
            <i class="fa-solid fa-user-shield"></i>
            <span>系統管理</span>
            <i class="fa-solid fa-chevron-right"></i>
        </p>
        <section data-row="4">
            <a href="" data-selected="">
                <i class="fa-solid fa-mail-bulk"></i>
                <span>信箱設定</span>
            </a>
            <a href="" data-selected="">
                <i class="fa-solid fa-unlock-alt"></i>
                <span>更改密碼</span>
            </a>
            <a href="" data-selected="">
                <i class="fa-solid fa-key"></i>
                <span>兩步驟驗證</span>
            </a>
            <button>
                <i class="fa-solid fa-language"></i>
                <span>中英切換</span>
            </button>
        </section>
    </div>
    <!--  -->
    <span>管理後台介紹</span>
    <!--  -->
    <div>
        <p @click="tab_show">
            <i class="fa-solid fa-code-branch"></i>
            <span>版本資訊</span>
            <i class="fa-solid fa-chevron-right"></i>
        </p>
        <section data-row="2">
            <a href="/page/demo-md-viewer.html?path=/README.md" :data-selected="left.is_README">
                <i class="fa-brands fa-readme"></i>
                <span>Readme</span>
            </a>
            <a href="/page/demo-md-viewer.html?path=/LICENSE" :data-selected="left.is_LICENSE">
                <i class="fa-solid fa-balance-scale"></i>
                <span>License</span>
            </a>
        </section>
    </div>
    <!--  -->
    <hr>
    <!--  -->
    <button class="desktop" @click="body_left_type">
        <i class="fa-solid fa-compress"></i>
        <i class="fa-solid fa-expand"></i>
    </button>
    <footer>
        <button @click="logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>登出</span>
        </button>
    </footer>
</section>