>section.body-right-article {
    flex-grow: 1;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid $body_left_border;
    border-bottom: 1px solid $body_left_border;

    >section {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 100%;
        background-color: transparent;

        &:has(details[open])>section {
            display: none;
        }

        >details {
            display: flex;
            width: 100%;
            border-bottom: 0.5px solid $color_text_1;
            background-color: $color_system_1;

            &[open] {
                flex-grow: 1;

                summary {

                    span {
                        width: initial;

                        >b {
                            opacity: 0;
                        }

                        >i {
                            transform: rotate(90deg);
                        }
                    }
                }
            }

            summary {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: $_16;
                padding: 0 $_16;
                line-height: $_48;
                font-weight: 500;
                background-color: #fff;
                color: $color_text_9;
                border-bottom: 0.5px solid $color_text_1;
                list-style-type: none;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                cursor: pointer;

                &::-webkit-details-marker,
                &::marker {
                    display: none;
                }

                >section {
                    display: flex;
                    align-items: center;
                    gap: $_12;
                }

                span {
                    flex-shrink: 0;

                    >b {
                        margin-left: 0.5rem;
                        font-weight: 500;
                    }

                    >i {
                        margin-left: $_4;
                        transition: 0.2s;
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    padding: 0 $_12;
                    line-height: $_32;
                    font-size: $_12;
                    background-color: $color_system_1;
                    color: $color_text_7;
                    border-radius: $_12;
                    transition: 0.2s;

                    gap: 0;

                    @media screen and (min-width: $_480) {
                        gap: $_4;
                    }

                    @media (hover: hover) {

                        &:hover {
                            background-color: $color_system_2;
                            color: $color_text_9;
                        }
                    }

                    i {
                        width: 0;
                        text-align: center;
                        opacity: 0;
                        transition: 0.3s;

                        @media screen and (min-width: $_480) {
                            width: $_16;
                            opacity: 1;
                        }
                    }
                }
            }

            >section {
                display: flex;
                flex-flow: column;
                padding: $_12 0;
                width: 100%;
                overflow: scroll;
            }

            >button {
                position: fixed;
                right: 0;
                bottom: 0;
                width: inherit;
                text-align: center;
            }

            form {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                flex-shrink: 0;
                align-items: flex-start;
                gap: $_12;
                padding: 0 $_16;

                span {
                    padding: $_12 0 $_4;
                    width: 100%;
                    font-size: $_14;
                    border-bottom: 1px solid $body_left_border;

                    &:nth-child(1) {
                        padding-top: $_4;
                    }
                }

                label {
                    display: flex;
                    flex-flow: column;
                    gap: $_4;
                    width: 100%;
                    font-size: $_12;

                    &._50 {
                        width: calc(50% - $_6);
                    }

                    >section {
                        display: flex;
                        align-items: baseline;
                        gap: $_12;

                        * {
                            flex: 1;
                        }
                    }
                }

                select,
                input {
                    flex-grow: 0;
                    flex-shrink: 0;
                    padding: 0 $_12;
                    line-height: $_32;
                    font-size: $_14;
                    border-radius: $_8;
                    background-color: #fff;
                    color: $color_text_9;
                    border: 0.5px solid $color_text_1;
                }

                pre {
                    position: relative;
                    z-index: 0;
                    padding: 0 $_12;
                    line-height: $_32;
                    min-height: $_32;
                    font-size: $_14;
                    border-radius: $_8;
                    background-color: #fff;
                }

                textarea {
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    padding: inherit;
                    width: inherit;
                    height: inherit;
                    resize: none;
                    color: transparent;
                    background-color: transparent;
                    border: none;
                    overflow: hidden;
                    padding: 0 $_12;
                    line-height: $_32;
                    min-height: $_32;
                    font-size: $_14;
                    border-radius: $_8;
                    border: 0.5px solid $color_text_1;
                }
            }
        }

        >section {
            display: flex;
            flex-grow: 1;
            width: 100%;
            overflow: scroll;

            // &:has(.pd-md-viewer)>section.body-right-article-editor {
            //     background-color: $color_system_1;
            // }

            >section {
                flex: 1;
                background-color: #fff;

                .pd-md-editor,
                .pd-md-viewer {
                    padding: 1rem 1rem 5rem;
                }

                &:nth-child(2) {
                    border-left: 1px solid $body_left_border;
                }
            }
        }
    }

    >footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 $_12;
        margin-top: -0.5px;
        height: $_40;
        border-top: 0.5px solid $color_text_1;

        >section {
            display: flex;
            align-items: center;
            gap: $_8;

            a {
                font-size: $_12;
            }

            p {
                font-size: $_12;
            }

            select {
                font-size: $_12;
            }
        }
    }
}