>section:not(.login) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    @import "./body-top";
    @import "./body-left";
    @import "./body-right";


    &:has(section.body-left[data-min="1"])>section.body-right {

        @media screen and (min-width: $_640) {
            margin-left: $_48;
            width: calc(100% - $_48);
        }
    }

    >section.body-right {

        >nav {
            top: 0;
            margin-top: 0;
            opacity: 1;
        }

        @media screen and (min-width: $_640) {
            margin-left: $_256;
            width: calc(100% - $_256);

            >nav {
                top: -$_48;
                margin-top: -$_48;
                opacity: 0;
            }
        }
    }

    button.hint {

        @media (hover: hover) and (pointer: fine) {

            &:hover {

                &::after {
                    bottom: -$_32;
                    max-width: $_80;
                    opacity: 1;
                }
            }
        }

        &.alert {
            color: red;

            &::after {
                background-color: red;
            }
        }

        &::after {
            content: attr(title);
            z-index: 10;
            position: absolute;
            bottom: 0;
            transform: translateX(calc(-50% + $_28 / 2));
            padding: 0 $_8;
            max-width: $_28;
            font-size: $_10;
            white-space: nowrap;
            background-color: #000;
            color: #fff;
            border-radius: $_4;
            transition: 0.3s;
            pointer-events: none;
            text-overflow: ellipsis;
            overflow: hidden;

            //hover 
            opacity: 0;

            //RWD
            display: none;

            @media screen and (min-width: $_800) {
                display: block;
            }
        }
    }
}