<section class="body-right">
    <nav>
        <section>
            <button>
                <i class="fa-solid fa-bars-staggered"></i>
            </button>
        </section>
        <strong>PARDN 管理後台</strong>
        <section>
            <button>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </section>
    </nav>
    <!-- -->
    <header>
        <strong>資料新增/修改範例</strong>
        <section>
        </section>
    </header>
    <!--  -->
    <section class="body-right-database-edit">
        <section>
            <!--  -->
            <div>
                <!--  -->
                <div>
                    <span>資料內容</span>
                    <section>
                        <button>
                            <i class="fa-solid fa-hard-drive"></i>
                            儲存
                        </button>
                    </section>
                </div>
                <!--  -->
                <section>
                    <form>
                        <label>欄位1
                            <section>
                                <textarea placeholder="欄位1" oninput="this.nextElementSibling.innerHTML=this.value.replace(/\n/g, '<br>')"></textarea>
                                <pre></pre>
                            </section>
                        </label>
                        <label>欄位2
                            <section>
                                <textarea placeholder="欄位2" oninput="this.nextElementSibling.innerHTML=this.value.replace(/\n/g, '<br>')"></textarea>
                                <pre></pre>
                            </section>
                        </label>
                        <label>欄位3
                            <section>
                                <textarea placeholder="欄位4" oninput="this.nextElementSibling.innerHTML=this.value.replace(/\n/g, '<br>')"></textarea>
                                <pre></pre>
                            </section>
                        </label>
                        <label>欄位4
                            <section>
                                <textarea placeholder="欄位4" oninput="this.nextElementSibling.innerHTML=this.value.replace(/\n/g, '<br>')"></textarea>
                                <pre></pre>
                            </section>
                        </label>
                    </form>
                </section>
            </div>
        </section>
    </section>
</section>