>section.system-block-body-right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 1;

    width: 100%;
    overflow: hidden scroll;

    background-color: #FAFBFF;
    // transition: 0.2s;

    * {
        flex-shrink: 0;
    }

    &:has(section.markdown:not(.file))>nav,
    &:has(section.folder)>nav {
        max-width: unset;
    }


    &:has(section.markdown.file)>section.top-button {
        max-width: $_1024;
    }

    &:has(section.image-viewer[data-show="1"]) {
        overflow: hidden;
    }

    >nav {
        z-index: 1000;
        position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: -$_48;
        margin-top: -$_48;
        padding: $_16;
        width: 100%;
        height: $_48;
        background-color: $body_left_bg;
        border-bottom: 1px solid $body_left_border;
        transition: 0.2s;
        opacity: 0;
    }

    >header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $_16;
        width: 100%;

        strong {
            font-size: $_32;
            font-weight: 500;
        }

        >section {
            display: flex;
            align-items: center;
            gap: $_16;
        }

        button {
            padding: 0 $_16;
            line-height: $_32;
            font-size: $_14;
            background-color: $color_system_2;
            color: $color_text_7;
            border-radius: $_12;
            transition: 0.2s;

            @media (hover: hover) {

                &:hover {
                    background-color: $color_system_3;
                    color: $color_text_9;
                }
            }
        }
    }

    @import "./system-page-data-list";
    @import "./system-page-data-editor";
    @import "./system-page-article";
    @import "./system-page-folder";
    @import "./system-page-text";
    @import "./system-page-media";
}